body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  height: 150vh;
  width: 100%;
  font-family: sans-serif;
}
.header {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  text-shadow: 0px 1px 5px rgb(0 0 0 / 40%);
  background-color: #ac7088;
}
.header a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.iconShopping {
  cursor: pointer;
  position: relative;
  font-size: 55px;
}
.iconShopping p {
  position: absolute;
  top: -5px;
  right: -12px;
  font-size: 0.69rem;
  background-color: #000;
  padding: 5px 5px;
  border-radius: 50%;
  color: white;
}
.itemsBox {
  width: 100%;
  height: 850px;
  background-color: #f5e8c7;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 90px 80px;
  box-sizing: border-box;
}
.item {
  height: 280px;
  width: 300px;
  border: 2px grey solid;
  border-radius: 15px;
  cursor: pointer;
}
.item img {
  width: 100%;
  height: 80%;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.itemInfo {
  display: flex;
  font-family: system-ui;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-size: 15px;
}
.item .title {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.item a {
  position: relative;
  text-align: left;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 10px 0;
  background: #0f0f0f;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
a:hover {
  background: black;
  color: white;
  width: 100px;
  height: 23px;
  border-radius: 15px;
  text-align: center;
  font-size: 17px;
}
.details-container {
  background-color: #f5e8c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
  font-family: system-ui;
  font-size: 17px;
  font-weight: 500;
}
.details-container button {
  background-color: #ac7088;
  border: none;
  font-weight: 900;
  /* color: #fff; */
  box-shadow: 0px 1px 5px rgb(0 0 0 / 40%);
}
.data {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.info {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}
.info button {
  margin-left: 20px;
  font-weight: 700;
  font-family: system-ui;
  background-color: #ac7088;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
}
.content {
  background-color: #f5e8c7;
  height: 800px;
}
